<a href="https://colab.research.google.com/github/bofori-tech/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/insert_titanic_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!wget https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true

--2020-11-14 18:30:15--  https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/rpg_db.sqlite3 [following]
--2020-11-14 18:30:16--  https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/rpg_db.sqlite3
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/rpg_db.sqlite3 [following]
--2020-11-14 18:30:16--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/rpg_db.sqlite3
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 253952 (248K) [application/octet-stream]
Saving to: ‘rpg_db.sqlite3?raw=true’

rpg_db.sqlite3?raw= 100%[===================>] 248.00K  --.-KB/s    in 0.02s

2020-11-14 18:30:16 (11.4 MB/s) - ‘rpg_db.sqlite3?raw=true’ saved [253952/253952]

In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.6)

In [2]:
import sqlite3  
import psycopg2

In [5]:
conn_sqlite = sqlite3.connect('rpg_db.sqlite3?raw=true')

In [6]:
cur_sqlite = conn_sqlite.cursor()

In [23]:
cur_sqlite.execute("SELECT * FROM armory_item")
cur_sqlite.fetchall()

[(1, 'Libero facere dolore, as', 0, 0),
 (2, 'Qui', 0, 0),
 (3, 'Laborios', 0, 0),
 (4, 'Quibusdam illo deserunt ea', 0, 0),
 (5, 'Quod eveniet i', 0, 0),
 (6, 'Qui odio beata', 0, 0),
 (7, 'Omnis', 0, 0),
 (8, 'Saepe ea vo', 0, 0),
 (9, 'Vel illo sed', 0, 0),
 (10, 'Pariatur hic iste m', 0, 0),
 (11, 'Eum illo expedita', 0, 0),
 (12, 'Laudantium recusand', 0, 0),
 (13, 'Molesti', 0, 0),
 (14, 'Veniam fuga n', 0, 0),
 (15, 'Animi molestias possimus nihil', 0, 0),
 (16, 'Assu', 0, 0),
 (17, 'Officiis', 0, 0),
 (18, 'Consectetur deleniti cupi', 0, 0),
 (19, 'Explicabo', 0, 0),
 (20, 'Dolores rem v', 0, 0),
 (21, 'Sit rerum err', 0, 0),
 (22, 'Sapiente numquam qu', 0, 0),
 (23, 'Nam ab illum culpa corporis fu', 0, 0),
 (24, 'Blanditiis obcaecat', 0, 0),
 (25, 'Ex', 0, 0),
 (26, 'Assumenda nam i', 0, 0),
 (27, 'Distinctio mini', 0, 0),
 (28, 'Impedit libero id modi eos vol', 0, 0),
 (29, 'In p', 0, 0),
 (30, 'Possimus quae elig', 0, 0),
 (31, 'Vitae nulla praesentium magnam', 0, 0),
 (32, 'Ipsam placeat e', 0, 0),
 (33, 'Corporis ani', 0, 0),
 (34, 'Eius cum quis', 0, 0),
 (35, 'Suscip', 0, 0),
 (36, 'Soluta consequatur dolore', 0, 0),
 (37, 'Perferendis corr', 0, 0),
 (38, 'Reprehen', 0, 0),
 (39, 'Eveniet impedi', 0, 0),
 (40, 'Accusamus reprehenderit beata', 0, 0),
 (41, 'Beatae do', 0, 0),
 (42, 'Error maiores nulla', 0, 0),
 (43, 'Tempore', 0, 0),
 (44, 'Culpa nemo vol', 0, 0),
 (45, 'Repellat iusto quam reprehen', 0, 0),
 (46, 'Exp', 0, 0),
 (47, 'Animi dolor at est', 0, 0),
 (48, 'Labore a consecte', 0, 0),
 (49, 'Sed quo corpor', 0, 0),
 (50, 'Officia asperiores obcaecati d', 0, 0),
 (51, 'Ipsam', 0, 0),
 (52, 'Molestiae veniam', 0, 0),
 (53, 'Perferendis repudiandae labo', 0, 0),
 (54, 'Similique totam quasi ipsa ex', 0, 0),
 (55, 'Velit voluptatem', 0, 0),
 (56, 'Harum voluptatum ius', 0, 0),
 (57, 'Ex libero soluta', 0, 0),
 (58, 'Quos re', 0, 0),
 (59, 'Deleniti quas explica', 0, 0),
 (60, 'Porro molliti', 0, 0),
 (61, 'Enim laboriosam quae', 0, 0),
 (62, 'Natus rem repellat quas assum', 0, 0),
 (63, 'Quasi re', 0, 0),
 (64, 'Laudantium c', 0, 0),
 (65, 'Quos blanditiis nost', 0, 0),
 (66, 'Quisquam ut cupiditate', 0, 0),
 (67, 'Eaque nemo velit nece', 0, 0),
 (68, 'Repudiandae', 0, 0),
 (69, 'Minus illum vo', 0, 0),
 (70, 'Minus repell', 0, 0),
 (71, 'Quia quasi labo', 0, 0),
 (72, 'Eligendi fuga mol', 0, 0),
 (73, 'Beatae ita', 0, 0),
 (74, 'Quo sunt laudantium al', 0, 0),
 (75, 'Ist', 0, 0),
 (76, 'Voluptatem laborum dicta cum', 0, 0),
 (77, 'Corporis obcaecati ven', 0, 0),
 (78, 'Neque quae eum dign', 0, 0),
 (79, 'Dolorem quam neque, amet cum e', 0, 0),
 (80, 'Rem expedit', 0, 0),
 (81, 'Est sapiente iusto minus quam', 0, 0),
 (82, 'Atque laudantium dolor q', 0, 0),
 (83, 'Accusan', 0, 0),
 (84, 'Consectetur error o', 0, 0),
 (85, 'Alias laboriosam sapiente e', 0, 0),
 (86, 'Doloribus animi perspiciatis', 0, 0),
 (87, 'Hic possimus qua', 0, 0),
 (88, 'Unde quaerat tenetur', 0, 0),
 (89, 'Facere reprehenderit v', 0, 0),
 (90, 'Aperiam consequuntu', 0, 0),
 (91, 'Quis expedita ip', 0, 0),
 (92, 'Ea vel deserunt aspernat', 0, 0),
 (93, 'Natus', 0, 0),
 (94, 'Optio iusto laboriosam te', 0, 0),
 (95, 'Laborios', 0, 0),
 (96, 'Commodi deserunt in illo', 0, 0),
 (97, 'Ad numquam dicta cons', 0, 0),
 (98, 'Aliquid aliquam velit reru', 0, 0),
 (99, 'Facere q', 0, 0),
 (100, 'Incidunt libero assumen', 0, 0),
 (101, 'Earum suscipit ea voluptates i', 0, 0),
 (102, 'Sint dolorum', 0, 0),
 (103, 'Incidunt fugiat ea, ea', 0, 0),
 (104, 'Molestiae r', 0, 0),
 (105, 'Voluptatem labore laboriosa', 0, 0),
 (106, 'Et ducimus cumque aut perspic', 0, 0),
 (107, 'Corrupti ap', 0, 0),
 (108, 'Perferendis nesciunt quae dolo', 0, 0),
 (109, 'Sunt doloremque recusanda', 0, 0),
 (110, 'Deleniti similique obc', 0, 0),
 (111, 'Numquam tempor', 0, 0),
 (112, 'Quibusdam deleniti quasi provi', 0, 0),
 (113, 'Accusamus exercitat', 0, 0),
 (114, 'Error eveniet ipsum, expedi', 0, 0),
 (115, 'Sapiente do', 0, 0),
 (116, 'Fuga necessitatibus', 0, 0),
 (117, 'Nam excepturi placeat asperna', 0, 0),
 (118, 'Dolore fugit itaq', 0, 0),
 (119, 'Beatae ve', 0, 0),
 (120, 'Blanditiis corporis exerci', 0, 0),
 (121, 'Nesciunt quia nobi', 0, 0),
 (122, 'Quisquam e', 0, 0),
 (123, 'Illo q', 0, 0),
 (124, 'Repellat voluptates ea,', 0, 0),
 (125, 'Labore architecto tempora d', 0, 0),
 (126, 'Porro impedit enim earum nam n', 0, 0),
 (127, 'Evenie', 0, 0),
 (128, 'Similique do', 0, 0),
 (129, 'Quos voluptates at n', 0, 0),
 (130, 'Neq', 0, 0),
 (131, 'Neq', 0, 0),
 (132, 'Optio dolore itaque', 0, 0),
 (133, 'Libero saepe accusantium', 0, 0),
 (134, 'Illum nequ', 0, 0),
 (135, 'Culpa accusantium fugit id', 0, 0),
 (136, 'Fugit pariatur vero nesciu', 0, 0),
 (137, 'Numqu', 0, 0),
 (138, 'Corrupti sit at cum', 0, 0),
 (139, 'Est fugit incidunt co', 0, 0),
 (140, 'Quos nihil quibusdam', 0, 0),
 (141, 'Sit quidem tempora doloribus r', 0, 0),
 (142, 'Amet vel distinctio mo', 0, 0),
 (143, 'Illum eaque atque recusand', 0, 0),
 (144, 'Dignissi', 0, 0),
 (145, 'Corporis fug', 0, 0),
 (146, 'Sequi nesciunt', 0, 0),
 (147, 'Facere neque qu', 0, 0),
 (148, 'Corporis voluptas provi', 0, 0),
 (149, 'Repella', 0, 0),
 (150, 'Culpa cumque quo vel', 0, 0),
 (151, 'Magni totam q', 0, 0),
 (152, 'Illu', 0, 0),
 (153, 'Sit quibusdam ab, enim in ex', 0, 0),
 (154, 'Consequuntur at earum d', 0, 0),
 (155, 'Voluptatum doloremque to', 0, 0),
 (156, 'Expedita nam est in l', 0, 0),
 (157, 'Repelle', 0, 0),
 (158, 'Sit numqu', 0, 0),
 (159, 'Ipsum sit praesentium cum ame', 0, 0),
 (160, 'Totam delectus sed fugiat o', 0, 0),
 (161, 'Doloremq', 0, 0),
 (162, 'Id reprehenderit ullam rat', 0, 0),
 (163, 'Dignissimos dolo', 0, 0),
 (164, 'Inventore re', 0, 0),
 (165, 'Nemo expl', 0, 0),
 (166, 'Distinctio tene', 0, 0),
 (167, 'Recusandae fug', 0, 0),
 (168, 'Officiis illo cum acc', 0, 0),
 (169, 'Repudiandae molestias be', 0, 0),
 (170, 'Iure nob', 0, 0),
 (171, 'Ea dolor exercitation', 0, 0),
 (172, 'Omnis maxime deserunt', 0, 0),
 (173, 'Eum error eveni', 0, 0),
 (174, 'Atque repudiandae molestiae v', 0, 0)]

In [24]:
conn_pg = psycopg2.connect(database='vgxmmeob',
                           user='vgxmmeob', 
                           password='a40lzCitUNfnaq7R99dEonP-pQfWiyKc',
                           host='suleiman.db.elephantsql.com'
                           )

In [25]:
cur_pg = conn_pg.cursor()

In [32]:
arm_query = """
CREATE TABLE arm_item(
  item_id integer PRIMARY KEY,
  name text NOT NULL,
  value integer NOT NULL,
  weight integer NOT NULL
  )
"""

In [35]:
cur_pg.execute(arm_query)

In [36]:
conn_pg.commit()

Read data from SQlite, write it to PostgreSQL

In [63]:
armory_weapon_query = """
CREATE TABLE arm_weapon(
  item_id SERIAL PRIMARY KEY,
  Power integer NOT NULL
  )
"""

In [ ]:
cur_pg.execute(armory_weapon_query)

In [67]:
conn_pg.commit()

In [44]:
cur_sqlite.execute("SELECT * FROM armory_weapon")
sqlite_data = cur_sqlite.fetchall()

In [ ]:
sqlite_data

In [ ]:
for row in sqlite_data:
  insert_query = f"INSERT INTO armory_weapon VALUES {row};"
  print(insert_query)
  cur_pg.execute(insert_query)

In [ ]:
conn_pg.commit()

Trsf tables between databases using pandas and sqlachemy

In [3]:
import pandas as pd

In [69]:
conn_sqlite

In [70]:
df = pd.read_sql("SELECT * FROM charactercreator_character", conn_sqlite)

In [71]:
df.head()

   character_id                          name  ...  dexterity  wisdom
0             1  Aliquid iste optio reiciendi  ...          1       1
1             2            Optio dolorem ex a  ...          1       1
2             3                       Minus c  ...          1       1
3             4                   Sit ut repr  ...          1       1
4             5         At id recusandae expl  ...          1       1

[5 rows x 9 columns]

In [72]:
df.shape

(302, 9)

In [4]:
import sqlalchemy

In [74]:
engine = sqlalchemy.create_engine("postgres://vgxmmeob:a40lzCitUNfnaq7R99dEonP-pQfWiyKc@suleiman.db.elephantsql.com:5432/vgxmmeob")

In [75]:
engine_conn = engine.connect()

In [ ]:
df.to_sql("charactercreator_character", engine_conn, index=False)

In [1]:
!wget https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module2-sql-for-analysis/titanic.csv

--2020-11-17 06:08:02--  https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module2-sql-for-analysis/titanic.csv
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv [following]
--2020-11-17 06:08:02--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 44225 (43K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  43.19K  --.-KB/s    in 0.006s

2020-11-17 06:08:02 (7.10 MB/s) - ‘titanic.csv’ saved [44225/44225]

In [13]:
df=pd.read_csv('titanic.csv')

In [16]:
conn= sqlite3.connect('titanic.sqlite3')

In [17]:
df.to_sql('titanic', conn)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [18]:
cur = conn.cursor()

In [19]:
query = """ 
SELECT * FROM titanic"""

In [20]:
cur.execute(query)

In [21]:
df=pd.read_sql(query, conn)
df

     index  Survived  ...  Parents/Children Aboard     Fare
0        0         0  ...                        0   7.2500
1        1         1  ...                        0  71.2833
2        2         1  ...                        0   7.9250
3        3         1  ...                        0  53.1000
4        4         0  ...                        0   8.0500
..     ...       ...  ...                      ...      ...
882    882         0  ...                        0  13.0000
883    883         1  ...                        0  30.0000
884    884         0  ...                        2  23.4500
885    885         1  ...                        0  30.0000
886    886         0  ...                        0   7.7500

[887 rows x 9 columns]