<a href="https://colab.research.google.com/github/bofori-tech/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/rpg_queries_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
import sqlite3

In [21]:
!wget https://github.com/bofori-tech/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true

--2020-11-14 20:25:23--  https://github.com/bofori-tech/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/bofori-tech/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/rpg_db.sqlite3 [following]
--2020-11-14 20:25:23--  https://github.com/bofori-tech/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/rpg_db.sqlite3
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/bofori-tech/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/rpg_db.sqlite3 [following]
--2020-11-14 20:25:23--  https://raw.githubusercontent.com/bofori-tech/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/rpg_db.sqlite3
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 253952 (248K) [application/octet-stream]
Saving to: ‘rpg_db.sqlite3?raw=true’

rpg_db.sqlite3?raw= 100%[===================>] 248.00K  --.-KB/s    in 0.02s

2020-11-14 20:25:24 (10.9 MB/s) - ‘rpg_db.sqlite3?raw=true’ saved [253952/253952]

In [22]:
conn = sqlite3.connect('rpg_db.sqlite3?raw=true')

In [23]:
cur = conn.cursor()

In [24]:
query = """
SELECT * 
FROM armory_item"""

In [25]:
cur.execute(query)

In [26]:
result_list = cur.fetchall()

In [27]:
cols = [ii[0] for ii in cur.description]
cols

['item_id', 'name', 'value', 'weight']

In [28]:
pd.DataFrame(result_list, columns=cols)

     item_id                           name  value  weight
0          1       Libero facere dolore, as      0       0
1          2                            Qui      0       0
2          3                       Laborios      0       0
3          4     Quibusdam illo deserunt ea      0       0
4          5                 Quod eveniet i      0       0
..       ...                            ...    ...     ...
169      170                       Iure nob      0       0
170      171          Ea dolor exercitation      0       0
171      172          Omnis maxime deserunt      0       0
172      173                Eum error eveni      0       0
173      174  Atque repudiandae molestiae v      0       0

[174 rows x 4 columns]

In [29]:
df=pd.read_sql(query, conn, index_col= 'item_id')
df.head()

                               name  value  weight
item_id
1          Libero facere dolore, as      0       0
2                               Qui      0       0
3                          Laborios      0       0
4        Quibusdam illo deserunt ea      0       0
5                    Quod eveniet i      0       0

In [30]:
query = """
SELECT ai.item_id, ai.name, ai.value, ai.weight
FROM armory_item ai 
JOIN charactercreator_character cc
ON ai.item_id = cc.character_id
"""

df = pd.read_sql(query, conn)

In [31]:
df

     item_id                           name  value  weight
0          1       Libero facere dolore, as      0       0
1          2                            Qui      0       0
2          3                       Laborios      0       0
3          4     Quibusdam illo deserunt ea      0       0
4          5                 Quod eveniet i      0       0
..       ...                            ...    ...     ...
169      170                       Iure nob      0       0
170      171          Ea dolor exercitation      0       0
171      172          Omnis maxime deserunt      0       0
172      173                Eum error eveni      0       0
173      174  Atque repudiandae molestiae v      0       0

[174 rows x 4 columns]

In [42]:
query = """
SELECT COUNT(character_id) 
FROM charactercreator_character"""

In [43]:
cur.execute(query)

In [ ]:
result_list = cur.fetchall()
result_list

In [ ]:
query = """
SELECT SUM(Quantity)
FROM OrderDetails"""

In [ ]:
result_list = cur.fetchall()
result_list